.container{
    color:rgb(135, 7, 135);
    background-color: palevioletred;
    font-size: 24px;
}


.header{
    color: rgb(196, 22, 112);
    background-color: rgb(246, 179, 221);
    font-size: 24px;
    padding: 20px;
    border-radius: 5px;
}
